# MySQL
DB_HOST=db
DB_PORT=3306
DB_NAME=database name
DB_USER=database user
DB_PASS=user password
DB_CHARSET=utf8mb4

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

# Twilio Config
TWILIO_ACCOUNT_SID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_PHONE_NUMBER=+123456789


# Minio/S3 Storage
AWS_ACCESS_KEY_ID=minio_admin
AWS_SECRET_ACCESS_KEY=minio_password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=retrade
AWS_URL=http://localhost:8080/uploads
MINIO_ENDPOINT=http://minio:9000


# API Endpoints
BACKEND_URL=http://localhost:8000
API_BASE_URL=http://localhost:8080/api