CARRIER_GATEWAY=

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASS=******

ENVIRONMENT=dev
#ENVIRONMENT=prod
Domains=your-domain.example.com



# MySQL
DB_HOST=db
DB_PORT=3306
DB_NAME=retrade_exp
DB_USER=retrade_user
DB_PASS=******
DB_CHARSET=utf8mb4

# MongoDB
MONGO_URI=mongodb://username:******@mongodb:27017/retrade-docs?authSource=admin
MONGO_DB_NAME=ReTrade_exp


# Neo4j
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=******


# Qdrant
QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_API_KEY=SK-******
QDRANT_COLLECTION=listings_embeddings
QDRANT_VECTOR_SIZE=384
QDRANT_DISTANCE=COSINE

# Elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=individual_listings_index

# Ollama
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=all-minilm


# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_TTL=300